@{ Layout = "_LoginLayout"; }
<div class="vault-box">
    <h2 style="text-align: center; margin-bottom: 30px;">BEVEILIGDE TOEGANG</h2>
    <form action="/Account/Login" method="post">
        <input type="text" name="username" class="vip-input" placeholder="GEBRUIKERSNAAM" />
        <input type="password" name="password" class="vip-input" placeholder="CODE" />
        <button type="submit" class="btn-gold">INLOGGEN</button>
    </form>
    
    <a href="/Account/AdminBypass?pin=3991" style="text-decoration: none;">
        <div style="border: 1px dashed #D4AF37; color: #D4AF37; padding: 10px; border-radius: 10px; text-align: center; font-size: 0.7rem; letter-spacing: 2px; margin-top: 20px; cursor: pointer;">
            ⚡ SNELLE TOEGANG (ADMIN)
        </div>
    </a>
</div>