@model List<VIP_Planning.Models.UrenModel>
@{ Layout = "_Layout"; }
<h1 style="font-weight:900; color:#D4AF37;">MIJN GEWERKTE UREN</h1>
<div class="table-responsive mt-4">
    <table class="table table-dark table-hover" style="border: 1px solid #333;">
        <thead style="color:#D4AF37;">
            <tr><th>DATUM</th><th>LOCATIE</th><th>PERIODE</th><th>UREN</th></tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.DatumString</td>
                    <td>@item.Locatie</td>
                    <td>@item.PeriodeNaam</td>
                    <td style="font-weight:bold; color:#D4AF37;">@item.AantalUren</td>
                </tr>
            }
        </tbody>
    </table>
</div>